<p id="notice"><%= notice %></p>



<p>
  <div class="posttitle">
  <%= @post.title %>
  </div>
</p>


<p>
  <div class="postcontent">
  <%= @post.content %>
  </div>
</p>

<p>
  <div class="postmap">
  <%= @post.address %>
  </div>
</p>

<div id="map"></div>

<script type="text/javascript" 
async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyA0xGHUYRx_zR0ayXg_etDQeGqvta6pWYU&callback=initMap">
    function initMap() {

        var test ={lat: <%= @latitude %>, lng: <%= @longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>










                            




